
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <nav class="navbar navbar-inverse " style="background-color: black">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mahalu App</a>
    </div>

    <div class="navbar-collapse collapse in" id="bs-example-navbar-collapse-2" aria-expanded="true">
      <ul class="nav navbar-nav">
      <li><a href="#">About Mahalu App</a></li>
      <li><a href="#">Instruction</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Setting <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Help</a></li>
            <li><a href="#">Report us</a></li>
            </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Languages <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">English</a></li>
            <li><a href="#">Malayalam</a></li>
            </ul>
        </li>
      <li><a href="#">Logout</a></li>
      </ul>
     </div>
  </div>
</nav>
        </div>
       </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Add Member</a></li>
  <li><a href="#">Inbox</a></li>
  <li><a href="#">Vara sangya</a></li>
  <li><a href="#">Eid sangya</a></li> 
   <li><a href="#">Molud sangya</a></li>
   <li><a href="#">Rathib sangya</a></li>
    <li><a href="#">Charity sangya</a></li>
     <li><a href="#">Miscellanous</a></li>
      <li><a href="#">Madrass</a></li>
        <li><a href="#">Online Transaction</a></li>
       <li><a href="#">Send Notification</a></li>
        <li><a href="#">Marriage Certificate</a></li> 
        <li><a href="#">Gallery</a></li> 
         


</ul>
        </div>
        <div class="col-xs-9">
            
<div class="jumbotron" style="margin: 10% 0% 0% 0%">
  <h1><b>Welcome to Mahallu App</b></h1>
  <p style="position: relative;left:5%">"Lets make Electronic tracking of data between commitee and members Easier"</p>
 <div align="left">
  <p><a class="btn btn-primary btn-lg" style="margin:5% 5% 0% 0%">Download App from Play Store</a>
   <a class="btn btn-primary btn-lg" style="margin:5% 5% 0% 0%">Download App from App Store</a></p>
</div>
        </div>
    </div>
</div>