
<div class="container" style="width: 100%">
    <div class="row">
        <div class="col-xs-12">
            <nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mahalu App</a>
    </div>

    <div class="navbar-collapse collapse in" id="bs-example-navbar-collapse-2" aria-expanded="true">
      <ul class="nav navbar-nav">
      <li><a (click)="aboutmahal()">About Mahalu App</a></li>
      <li><a href="instruction()">Instruction</a></li>
        <li class="dropdown">
          <a href="setting()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Setting <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="help()">Help</a></li>
            <li><a href="reportus()">Report us</a></li>
            </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Languages <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">English</a></li>
            <li><a href="#">Malayalam</a></li>
            </ul>
        </li>
      <li><a href="Logout()">Logout</a></li>
      </ul>
     </div>
  </div>
</nav>
        </div>
       </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <ul class="nav nav-pills nav-stacked">
  <li class="active"><a (click)="home()">Home</a></li>
  <li><a (click)="addmember()">Members</a></li>
  <li class="disabled"><a (click)="inbox()" disabled>Inbox</a></li>
  <li><a (click)="varasangya()">Vara sangya</a></li>
  <li><a (click)="eidsangya()">Eid sangya</a></li> 
   <li><a (click)="moludsangya()">Molud sangya</a></li>
   <li><a (click)="rathibsangya()">Rathib sangya</a></li>
    <li><a (click)="charitysangya()">Charity sangya</a></li>
     <li><a (click)="miscellanous()">Miscellanous</a></li>
      <li class="disabled"><a (click)="madrass()">Madrass</a></li>
        <li class="disabled"><a (click)="onlinetransaction()">Online Transaction</a></li>
       <li><a (click)="Sendnotification()">Send Notification</a></li>
        <li><a (click)="marriagecertificate()">Marriage Certificate</a></li> 
        <li class="disabled"><a (click)="gallery()">Gallery</a></li> 
         


</ul>
        </div>
        <div class="col-xs-9">
            <ul class="breadcrumb">
  <li class="active">Home</li>
</ul>
<div class="jumbotron" style="margin: 5% 0% 0% 0%">
  <h1><b>Welcome to Mahallu App</b></h1>
  <p style="position: relative;left:5%">"Lets make Electronic tracking of data between commitee and members Easier"</p>
 <div align="left">
  <p><a class="btn btn-primary btn-lg" style="margin:5% 5% 0% 0%">Download App from Play Store</a>
   <a class="btn btn-primary btn-lg" style="margin:5% 5% 0% 0%">Download App from App Store</a></p>
</div>
        </div>
    </div>
</div>